/* ============================ */
/* ===== Breakpoints XS ====== */
@media screen and (max-width: 390.98px) {
    :root {
        /* == Font Size === */
        --fs-title: 3rem;
    }

    /* === Display None ================= */
    .d-xs-none {
        display: none;
    }

    /* === Gap ================= */
    .g-xs-0 {
        gap: 0rem;
    }

    .g-xs-15 {
        gap: 1.5rem;
    }

    /* === Height ================= */
    .h-xs-30 {
        height: 3rem;
    }

    /* === Padding X ================= */
    .px-xs-0 {
        padding-left: 0;
        padding-right: 0;
    }

    /* === Bottom ================= */
    .bot-xs-10 {
        bottom: 1rem;
    }
    
}


/* ============================ */
/* ===== Breakpoints SM ====== */
@media screen and (min-width: 576px) {}


/* ============================ */
/* ===== Breakpoints MD ====== */
@media screen and (min-width: 768px) {
    :root {
        /* == Slideshow === */
        --height-slideshow: 65rem;
        --top-txt-slideshow: 22.5rem;
        --left-txt-slideshow: 17vw;
    }

    /* === Display Grid ================= */
    .grid-md-3-2 {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
    }

    .grid-md-item:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    
    .grid-md-item:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .grid-md-item:nth-child(3) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .grid-md-item:nth-child(4) {
        grid-column: 3/4;
        grid-row: 1/3;
    }

    /* === Display None ================= */
    .d-md-none {
        display: none;
    }

    .f-md-33p-g5 {
        flex: 0 0 calc(calc(100% - 1rem) / 3);
    }

    .f-md-33p-g20 {
        flex: 0 0 calc(calc(100% - 4rem) / 3);
    }
    
    .f-md-50p {
        flex: 0 0 50%;
    }

    .f-md-50p-g20 {
        flex: 0 0 calc(calc(100% - 2rem) / 2);
    }
    
    /* === Text ================= */
    .txt-md-center {
        text-align: center;
    }
    
    /* === Border ================= */
    .bor-md-none {
        border: none;
    }

    /* === Pointer None ================= */
    .pe-md-none {
        pointer-events: none; /* Vô hiệu hóa click */
    }

    /* === Overflow ================= */
    .overflow-md-v {
        overflow: visible;
    }

    /* === Height ================= */
    .h-max-md-none {
        max-height: none;
    }

    /* === Padding Top ================= */
    .pt-md-24 {
        padding-top: 2.4rem;
    }

    .pt-md-50 {
        padding-top: 5rem;
    }

    /* === Margin Top ================= */
    .mt-md-0 {
        margin-top: 0;
    }

}


/* ============================ */
/* ===== Breakpoints LG ====== */
@media screen and (min-width: 992px) {
    :root {
        /* == Slideshow === */
        --top-txt-slideshow: 25rem;
        --left-txt-slideshow: 22vw;
    }

    /* === Display Block ================= */
    .d-lg-block {
        display: block;
    }

    /* === Display None ================= */
    .d-lg-none {
        display: none;
    }

    /* === Display Flex ================= */
    .d-lg-flex {
        display: flex;
    }

    /* === Flex ================= */
    .f-lg-1 {
        flex: 1;
    }

    .f-lg-25p-g5 {
        flex: 0 0 calc(calc(100% - 1.5rem) / 4);
    }

    .f-lg-33p {
        flex: 0 0 calc(100% / 3);
    }

    /* === Justify Content ================= */
    .jc-lg-start {
        justify-content: start;
    }

    /* === Padding Top ================= */
    .pt-lg-26 {
        padding-top: 2.6rem;
    }

    /* === Padding Left ================= */
    .pl-lg-29 {
        padding-left: 2.9rem;
    }

    /* === Padding Bottom ================= */
    .pb-lg-23 {
        padding-bottom: 2.3rem;
    }

    /* === Padding Right ================= */
    .pr-lg-40 {
        padding-right: 4rem;
    }

    /* === Margin Top ================= */
    .mt-lg-0 {
        margin-top: 0;
    }

    .mt-lg-1 {
        margin-top: 0.1rem;
    }

    /* === Margin Left ================= */
    .ml-lg-0 {
        margin-left: 0;
    }

    /* === Margin Right ================= */
    .mr-lg-0 {
        margin-right: 0;
    }

}


/* ============================ */
/* ===== Breakpoints XL ====== */
@media screen and (min-width: 1200px) {
    :root {
        /* == Font Size === */
        --fs-title: 4.5rem;
        /* == Slideshow === */
        --height-slideshow: 81rem;
        --fs-txt-slideshow: 8rem;
        --lh-txt-slideshow: 8rem;
        /* == Feed Back === */
        --pt-item-feed-back: 3.8rem;
        --pb-item-feed-back: 4.2rem;
        --px-item-feed-back: 4.3rem;
    }

    /* === Opacity ================= */
    .opacity-xl-5 {
        opacity: 0.5;
    }

    .opacity-xl-0 {
        opacity: 0;
    }

    /* === Relative ================= */
    .relative-xl {
        position: relative;
    }

    /* === Absolute ================= */
    .absolute-xl {
        position: absolute;
    }
    
    /* === Display Block ================= */
    .d-xl-block {
        display: block;
    }

    /* === Display None ================= */
    .d-xl-none {
        display: none;
    }

    /* === Display Flex ================= */
    .d-xl-flex {
        display: flex;
    }

    /* === Flex ================= */
    .f-xl-17p {
        flex: 0 0 17%;
    }

    .f-xl-17p-g5 {
        flex: 0 0 calc(calc(100% - 2.5rem) / 6);
    }

    .f-xl-25p-g30 {
        flex: 0 0 calc(calc(100% - 9rem) / 4);
    }

    .f-xl-33p {
        flex: 0 0 33%;
    }

    .f-xl-33p-g30 {
        flex: 0 0 calc(calc(100% - 6rem) / 3);
    }

    /* === Gap ================= */
    .g-xl-30 {
        gap: 3rem;
    }

    /* === Border ================= */
    .bor-xl-none {
        border: none;
    }

    /* === Width ================= */
    .w-xl-160 {
        width: 16rem;
    }

    /* === Height ================= */
    .h-xl-50 {
        height: 5rem;
    }

    /* === Font Size ================= */
    .fs-xl-36 {
        font-size: 3.6rem;
    }

    /* === Line Height ================= */
    .lh-xl-26 {
        line-height: 2.6rem;
    }

    /* === Hover ================= */
    .wrapper-icon {
        transition: opacity,transform, 0.6s ease-in-out;
    }
    
    .wrapper-item:hover .wrapper-icon {
        opacity: 1;
        transform: translateX(-1.5rem);
    }

    .btn-trending-prev,
    .btn-trending-next,
    .btn-arrivals-prev,
    .btn-arrivals-next,
    .btn-fback-prev,
    .btn-fback-next {
        transition: opacity, transform, 0.2s ease-in-out;
    }

    .wrapper:hover .btn-trending-prev,
    .wrapper:hover .btn-arrivals-prev,
    .wrapper:hover .btn-trending-next,
    .wrapper:hover .btn-arrivals-next,
    .wrapper:hover .btn-fback-prev,
    .wrapper:hover .btn-fback-next {
        opacity: 1;
    }
    
    .wrapper:hover .btn-trending-prev,
    .wrapper:hover .btn-arrivals-prev {
        transform: translateX(3rem);
    }

    .wrapper:hover .btn-trending-next,
    .wrapper:hover .btn-arrivals-next {
        transform: translateX(-3rem);
    }

    .wrapper:hover .btn-fback-prev {
        transform: translate(3rem, -50%);
    }

    .wrapper:hover .btn-fback-next {
        transform: translate(-3rem, -50%);
    }

    /* === Top ================= */
    .top-xl-center {
        top: 50%;
        transform: translateY(-50%);
    }

    .top-xl-40p {
        top: 40%;
    }

    .top-xl-15 {
        top: 1.5rem;
    }

    /* === Left ================= */
    .left-xl-50 {
        left: 5rem;
    }

    /* === Bottom ================= */
    .bot-xl-30 {
        bottom: 3rem;
    }

    .bot-xl-47 {
        bottom: 4.7rem;
    }

    /* === Right ================= */
    .right-xl-0 {
        right: 0;
    }

    /* === Padding Top ================= */
    .pt-xl-28 {
        padding-top: 2.8rem;
    }

    .pt-xl-32 {
        padding-top: 3.2rem;
    }

    .pt-xl-33 {
        padding-top: 3.3rem;
    }

    .pt-xl-87 {
        padding-top: 8.7rem;
    }
    
    /* === Padding Left ================= */
    .pl-xl-15 {
        padding-left: 1.5rem;
    }

    /* === Padding X ================= */
    .px-xl-30 {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    /* === Margin Top ================= */
    .mt-xl-10 {
        margin-top: 1rem;
    }

    .mt-xl-12 {
        margin-top: 1.2rem;
    }

    .mt-xl-13 {
        margin-top: 1.3rem;
    }

    .mt-xl-16 {
        margin-top: 1.6rem;
    }

    .mt-xl-19 {
        margin-top: 1.9rem;
    }

    .mt-xl-22 {
        margin-top: 2.2rem;
    }

    .mt-xl-23 {
        margin-top: 2.3rem;
    }

    .mt-xl-24 {
        margin-top: 2.4rem;
    }

    .mt-xl-33 {
        margin-top: 3.3rem;
    }

    .mt-xl-36 {
        margin-top: 3.6rem;
    }

    .mt-xl-94 {
        margin-top: 9.4rem;
    }

    .mt-xl-101 {
        margin-top: 10.1rem;
    }

}


/* ============================= */
/* ===== Breakpoints XXL ====== */
@media screen and (min-width: 1400px) {
    :root {
        /* == Slideshow === */
        --top-txt-slideshow: 25.2rem;
        --left-txt-slideshow: 23vw;
    }

    /* === Gap ================= */
    .g-xxl-0 {
        gap: 0;
    }

    .g-xxl-30 {
        gap: 3rem;
    }

    /* === Padding X ================= */
    .px-xxl-56 {
        padding-left: 5.6rem;
        padding-right: 5.6rem;
    }

    /* === Padding Y ================= */
    .py-xxl-22 {
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
    }

    /* === Margin Top ================= */
    .mt-xxl-23 {
        margin-top: 2.3rem;
    }

    .mt-xxl-52 {
        margin-top: 5.2rem;
    }
    
    /* === Margin Left ================= */
    .ml-xxl-10 {
        margin-left: 1rem;
    }

    /* === Margin Right ================= */
    .mr-xxl-30 {
        margin-right: 3rem;
    }

    .mr-xxl-31 {
        margin-right: 3.1rem;
    }
    
}