html {
    font-family: Jost;
    /* width: 1920px; */
    /* background-color: rgb(0, 255, 0); */
}

/* === Pseudo ================ */
:root {
    /* == Color === */
    --black: #111111;
    --white: #ffffff;
    --white-smoke: #f5f5f5;
    --gray-light: #dddddd;
    --gray-lighter: #ebebeb;
    --gray-medium: #999999;
    --gray-dark: #555555;
    --orange-red: #d0473e;
    --coral-red: #e74c3c;
    --strong-red: #c0392b;
    --dark-red: #c0392b;
    --green: #26A66A;
    --blue: #516CF4;
    /* == Font Family === */
    --bs-font-jost: Jost;
    /* == Font Size === */
    --fs-title: 3.6rem;
    /* == Slideshow === */
    --height-slideshow: 55rem;
    --top-txt-slideshow: 17.6rem;
    --left-txt-slideshow: 5vw;
    --fs-txt-slideshow: 4rem;
    --lh-txt-slideshow: 4.5rem;
    /* == Feed Back === */
    --pt-item-feed-back: 2.8rem;
    --pb-item-feed-back: 3.2rem;
    --px-item-feed-back: 3rem;
    
}

/* === Background Color ================ */
.bg-black {
    background-color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

.bg-white-smoke {
    background-color: var(--white-smoke);
}

.bg-gray-light {
    background-color: var(--gray-light);
}

.bg-gray-lighter {
    background-color: var(--gray-lighter);
}

.bg-gray-medium {
    background-color: var(--gray-medium);
}

.bg-gray-dark {
    background-color: var(--gray-dark);
}

.bg-orange-red {
    background-color: var(--orange-red);
}

.bg-coral-red {
    background-color: var(--coral-red);
}

.bg-strong-red {
    background-color: var(--strong-red);
}

.bg-dark-red {
    background-color: var(--dark-red);
}

.bg-green {
    background-color: var(--green);
}

.bg-blue {
    background-color: var(--blue);
}

/* === Color ================ */
.cl-black {
    color: var(--black);
}

.cl-white {
    color: var(--white);
}

.cl-white-smoke {
    color: var(--white-smoke);
}

.cl-gray-light {
    color: var(--gray-light);
}

.cl-gray-lighter {
    color: var(--gray-lighter);
}

.cl-gray-medium {
    color: var(--gray-medium);
}

.cl-gray-dark {
    color: var(--gray-dark);
}

.cl-orange-red {
    color: var(--orange-red);
}

.cl-coral-red {
    color: var(--coral-red);
}

.cl-strong-red {
    color: var(--strong-red);
}

.cl-dark-red {
    color: var(--dark-red);
}

.cl-green {
    color: var(--green);
}

.cl-blue {
    color: var(--blue);
}

/* === Hover ================ */
.cl-hover-white:hover {
    color: var(--white);
}

.cl-hover-black:hover {
    color: var(--black);
}

.cl-hover-gray-dark:hover {
    color: var(--gray-dark);
}

.cl-hover-orange-red:hover {
    color: var(--orange-red);
}

.bg-hover-black:hover {
    background-color: var(--black);
}

.bor-hover-black:hover {
    border-color: var(--black);
}

.txt-hover-underline:hover {
    text-decoration: underline;
}

.opacity-hover-1:hover {
    opacity: 1;
}

/*=== Box-Border =============== */
.box-border {
    box-sizing: border-box;
}

/*=== Cursor =============== */
.cursor-pointer {
    cursor: pointer;
}

/*=== Relative =============== */
.relative {
    position: relative;
}

/*=== Absolute =============== */
.absolute {
    position: absolute;
}

/* === Fixed =============== */
.fixed {
    position: fixed;
}

/* === Sticky =============== */
.sticky {
    position: sticky;
}

/*=== Overlay =============== */
.overlay {
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

/* === Overflow ================= */
.overflow-h {
    overflow: hidden;
}

.overflow-v {
    overflow: visible;
}

/* === Opacity ================= */
.opacity-0 {
    opacity: 0;
}

/* === Shadow ================= */
.shadow {
    box-shadow: 0 0.1rem 1.6rem rgba(0, 0, 0, 0.3);
}

/* === Block ================= */
/* === Z-Index ================= */
.z-1 {
    z-index: 1;
}


.z-10 {
    z-index: 10;
}

/* === Width ================= */
.w-wrapper {
    width: 145rem;
    max-width: 100%;
}

.w-fit-content {
    width: fit-content;
}

.w-max-full {
    max-width: 100%;
}

.w-18 {
    width: 1.8rem;
}

.w-20 {
    width: 2rem;
}

.w-24 {
    width: 2.4rem;
}

.w-35 {
    width: 3.5rem;
}

.w-38 {
    width: 3.8rem;
}

.w-40 {
    width: 4rem;
}

.w-60 {
    width: 6rem;
}

.w-70 {
    width: 7rem;
}

.w-77 {
    width: 7.7rem;
}

.w-88 {
    width: 8.8rem;
}

.w-120 {
    width: 12rem;
}

.w-70p {
    width: 170%;
}

/* === Height ================= */
.h-20 {
    height: 2rem;
}

.h-24 {
    height: 2.4rem;
}

.h-34 {
    height: 3.4rem;
}

.h-35 {
    height: 3.5rem;
}

.h-40 {
    height: 4rem;
}

.h-50 {
    height: 5rem;
}


.h-60 {
    height: 6rem;
}

.h-70 {
    height: 7rem;
}

/* === Img ================= */
.img {
    display: block;
    width: 100%;
    height: 100%;
}

.img-zoom {
    transition: transform, 0.6s ease-in-out;
}

.wrapper-item:hover .img-zoom {
    transform: scale(1.1);
}

.img-change {
    opacity: 0;
    transition: opacity, 0.6s ease-in-out;
}

.wrapper-item:hover .img-change {
    opacity: 1;
}

.img-hidden {
    transition: opacity, 0.6s ease-in-out;
}

.wrapper-item:hover .img-hidden {
    opacity: 0;
}

/* === Button ================= */
.btn-cart {
    transition: opacity,translate, 0.6s ease-in-out;
}

.wrapper-item:hover .btn-cart {
    opacity: 1;
    transform: translate(-50%, -1.5rem); /* thêm translateX(-50%) để bù cho left-center */
}

.btn-banner {
    position: relative;
    display: inline-block;
    width: fit-content;
    height: 2rem;
    overflow: hidden;
}

.btn-banner::before {
    content: "";
    position: absolute;
    height: 0.2rem;
    width: 100%;
    background-color: var(--black);
    top: 80%;
    left: 0;
}

.wrapper-item:hover .btn-banner::before {
    animation: btn-banner-hover 0.8s infinite;
}

@keyframes btn-banner-hover {
    from {left: -100%;}
    to {left: 100%;}
}

.btn-tranx {
    transition: transform 0.3s ease-in-out;
}

.wrapper-btn:hover .btn-tranx {
    transform: translateX(10%);
}

/* === Tooltip ================= */
.tooltip:hover .tooltip-txt {
    visibility: visible;
    opacity: 1;
    transform: translate(-1rem, -50%);
}

.tooltip-txt {
    visibility: collapse;
    opacity: 0;
    transition: opacity,transform, 0.4s ease-in-out;
    white-space: nowrap;
    background-color: var(--black);
    color: var(--white);
    border-radius: 0.5rem;
    padding: 1rem;
}

.tooltip-txt::after {
    content: "";
    border: solid 0.5rem;
}

.tooltip-txt-after-left::after {
    border-color: transparent transparent transparent var(--black);
    position: absolute;
    left: 100%;
}

/* === Text ================= */
.txt-center {
    text-align: center;
}

.txt-underline {
    text-decoration: underline;
}

.txt-nowrap {
    white-space: nowrap
}

.txt-no-select {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
}

.ls-0 {
    letter-spacing: 0%;
}


.va-middle {
    vertical-align: middle;
}

/* === Font Size ================= */
.fs-txt-slideshow {
    font-size: var(--fs-txt-slideshow);
}

.fs-title {
    font-size: var(--fs-title);
}

.fs-12 {
    font-size: 1.2rem;
}

.fs-14 {
    font-size: 1.4rem;
}

.fs-16 {
    font-size: 1.6rem;
}

.fs-30 {
    font-size: 3rem;
}

/* === Font Weight ================= */
.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

/* === Line Height ================= */
.lh-txt-slideshow {
    line-height: var(--lh-txt-slideshow);
}

.lh {
    line-height: 100%;
}

.lh-23 {
    line-height: 2.3rem;
}

.lh-24 {
    line-height: 2.4rem;
}

.lh-25 {
    line-height: 2.5rem;
}


/* === Border ================= */
.bor {
    border: solid transparent;
}

.bor-top {
    border-top: solid transparent;
}

.bor-bot {
    border-bottom: solid transparent;
}

/* === Border Width ================= */
.bor-1 {
    border-width: 0.1rem;
}

/* === Border Color ================= */
.bor-black {
    border-color: var(--black);
}

.bor-white {
    border-color: var(--white);
}

.bor-white-smoke {
    border-color: var(--white-smoke);
}

.bor-gray-light {
    border-color: var(--gray-light);
}

.bor-gray-lighter {
    border-color: var(--gray-lighter);
}

.bor-gray-medium {
    border-color: var(--gray-medium);
}

.bor-gray-dark {
    border-color: var(--gray-dark);
}

.bor-orange-red {
    border-color: var(--orange-red);
}

.bor-coral-red {
    border-color: var(--coral-red);
}

.bor-strong-red {
    border-color: var(--strong-red);
}

.bor-dark-red {
    border-color: var(--dark-red);
}

.bor-green {
    border-color: var(--green);
}

.bor-blue {
    border-color: var(--blue);
}

/* === Rounded ================= */
.round-50p {
    border-radius: 50%;
}

.round-5 {
    border-radius: 0.5rem;
}

.round-10 {
    border-radius: 1rem;
}

.round-35 {
    border-radius: 3.5rem;
}

/* === Display Grid ================= */
.d-grid {
    display: grid;
}

.grid-2-3 {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
}

.grid-item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
}

.grid-item:nth-child(2) {
    grid-column: 1/2;
    grid-row: 3/4;
}

.grid-item:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/2;
}

.grid-item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/4;
}

/* === Display None ================= */
.d-none {
    display: none;
}

/* === Display Block ================= */
.d-block {
    display: block;
}

/* === Display Inline Block ================= */
.d-inline-block {
    display: inline-block;
}

/* === Display Flex ================= */
.d-flex {
    display: flex;
}

/* === Column ================= */
.column {
    flex-direction: column;
}

/* === Row ================= */
.row {
    flex-direction: row;
}

/* === Flex ================= */
.flex-center {
    justify-content: center;
    align-items: center;
}

.f-1 {
    flex: 1;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-nowrap {
    flex-wrap: nowrap;
}

.f-38p {
    flex: 0 0 38.5%;
}

.f-50p-g5 {
    flex: 0 0 calc(calc(100% - 0.5rem) / 2);
}

.f-50p-g20 {
    flex: 0 0 calc(calc(100% - 2rem) / 2);
}

.f-58p {
    flex: 0 0 58%;
}

.f-77p {
    flex: 0 0 76.7%;
}

.f-100p {
    flex: 0 0 100%;
}

/* === Gap ================= */
.g-1 {
    gap: 0.1rem;
}

.g-2 {
    gap: 0.2rem;
}

.g-4 {
    gap: 0.4rem;
}

.g-5 {
    gap: 0.5rem;
}

.g-6 {
    gap: 0.6rem;
}

.g-9 {
    gap: 0.9rem;
}

.g-10 {
    gap: 1rem;
}

.g-20 {
    gap: 2rem;
}

.g-21 {
    gap: 2.1rem;
}

.g-25 {
    gap: 2.5rem;
}

.g-26 {
    gap: 2.6rem;
}

/* === Justify Content ================= */
.jc-end {
    justify-content: end;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

/* === Align Items ================= */
.ai-center {
    align-items: center;
}

/* ==================== */
.slide {
    flex: 0 0 100%;
    width: auto;
    height: var(--height-slideshow);
}

.img-slide {
    object-fit: cover;
    object-position: 50% center;
}

.wrapper:hover .wrapper-prev-next {
    opacity: 1;
}

.wrapper-input-newsletter:focus-within {
    border-color: var(--black);
}

.dot {
    cursor: pointer;
    height: 0.7rem;
    width: 0.7rem;
    margin: 0.5rem;
    background-color: var(--black);
    opacity: 0.2;
    border-radius: 50%;
    display: inline-block;
}

.dot:hover {
    background-color: var(--black);
    opacity: 1;
}

.dot.active {
    background-color: var(--black);
    opacity: 1;
}

/* === Top ================= */
.top-txt-slideshow {
    top: var(--top-txt-slideshow);
}

.top-center {
    top: 50%;
    transform: translateY(-50%);
}

.top-0 {
    top: 0;
}

.top-10 {
    top: 1rem;
}

.top-11 {
    top: 1.1rem;
}

/* === Left ================= */
.left-txt-slideshow {
    left: var(--left-txt-slideshow);
}

.left-center {
    left: 50%;
    transform: translateX(-50%);
}

.left-0 {
    left: 0;
}

.left-30 {
    left: 3rem;
}

/* === Bottom ================= */
.bot-0 {
    bottom: 0;
}

.bot-20 {
    bottom: 2rem;
}

.bot-25 {
    bottom: 2.5rem;
}

/* === Right ================= */
.right-0 {
    right: 0;
}

.right-10 {
    right: 1rem;
}

.right-30 {
    right: 3rem;
}

.right-100p {
    right: 100%;
}

/* === Padding ================= */
/* === Padding X ================= */
.px-item-feed-back {
    padding-left: var(--px-item-feed-back);
    padding-right: var(--px-item-feed-back);
}

.px-10 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-20 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-22 {
    padding-left: 2.2rem;
    padding-right: 2.2rem;
}

.px-30 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.px-47 {
    padding-left: 4.7rem;
    padding-right: 4.7rem;
}

.px-90 {
    padding-left: 8rem;
    padding-right: 8rem;
}

/* === Padding Y ================= */
.py-11 {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}

.py-19 {
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
}

.py-20 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* === Padding Top ================= */
.pt-item-feed-back {
    padding-top: var(--pt-item-feed-back);
}

.pt-12 {
    padding-top: 1.2rem;
}

.pt-14 {
    padding-top: 1.4rem;
}

.pt-15 {
    padding-top: 1.5rem;
}

.pt-16 {
    padding-top: 1.6rem;
}

.pt-19 {
    padding-top: 1.9rem;
}

.pt-24 {
    padding-top: 2.4rem;
}

.pt-28 {
    padding-top: 2.8rem;
}

/* === Padding Left ================= */
.pl-20 {
    padding-left: 2rem;
}

/* === Padding Bottom ================= */
.pb-item-feed-back {
    padding-bottom: var(--pb-item-feed-back);
}

.pb-11 {
    padding-bottom: 1.1rem;
}

.pb-12 {
    padding-bottom: 1.2rem;
}

.pb-21 {
    padding-bottom: 2.1rem;
}

.pb-25 {
    padding-bottom: 2.5rem;
}

.pb-30 {
    padding-bottom: 3rem;
}

/* === Padding Right ================= */
.pr-10 {
    padding-right: 1rem;
}

.pr-31 {
    padding-right: 3.1rem;
}
/* === Margin ================= */
/* === Margin X ================= */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mx-19 {
    margin-left: 1.9rem;
    margin-right: 1.9rem;
}

/* === Margin Y ================= */
/* === Margin Top ================= */
.mt-2 {
    margin-top: 0.2rem;
}

.mt-5 {
    margin-top: 0.5rem;
}

.mt-7 {
    margin-top: 0.7rem;
}

.mt-9 {
    margin-top: 0.9rem;
}

.mt-10 {
    margin-top: 1rem;
}

.mt-11 {
    margin-top: 1.1rem;
}

.mt-12 {
    margin-top: 1.2rem;
}

.mt-14 {
    margin-top: 1.4rem;
}

.mt-16 {
    margin-top: 1.6rem;
}


.mt-17 {
    margin-top: 1.7rem;
}

.mt-18 {
    margin-top: 1.8rem;
}

.mt-19 {
    margin-top: 1.9rem;
}

.mt-20 {
    margin-top: 2rem;
}

.mt-24 {
    margin-top: 2.4rem;
}

.mt-28 {
    margin-top: 2.8rem;
}

.mt-33 {
    margin-top: 3.3rem;
}

.mt-34 {
    margin-top: 3.4rem;
}


.mt-54 {
    margin-top: 5.4rem;
}

.mt-58 {
    margin-top: 5.8rem;
}

.mt-60 {
    margin-top: 6rem;
}

/* === Margin Left ================= */
.ml-3 {
    margin-left: 0.3rem;
}

.ml-4 {
    margin-left: 0.4rem;
}

.ml-5 {
    margin-left: 0.5rem;
}

.ml-6 {
    margin-left: 0.6rem;
}

.ml-10 {
    margin-left: 1rem;
}

.ml-11 {
    margin-left: 1.1rem;
}

/* === Margin Bottom ================= */
.mb-30 {
    margin-bottom: 3rem;
}

/* === Margin Right ================= */
.mr-4 {
    margin-right: 0.4rem;
}

.mr-13 {
    margin-right: 1.3rem;
}

.mr-16 {
    margin-right: 1.6rem;
}

.mr-30 {
    margin-right: 3rem;
}

.mr-31 {
    margin-right: 3.1rem;
}