html {
    font-family: Jost;
    /* width: 1920px; */
    /* background-color: #111111; */
}

/* === Pseudo ================ */
:root {
    /* == Color === */
    --black: #111111;
    --white: #ffffff;
    --white-smoke: #f5f5f5;
    --gray-light: #dddddd;
    --gray-lighter: #ebebeb;
    --gray-medium: #999999;
    --gray-dark: #555555;
    --orange-red: #d0473e;
    --coral-red: #e74c3c;
    --strong-red: #c0392b;
    --dark-red: #c0392b;
    --green: #26A66A;
    --blue: #516CF4;
    /* == Slideshow === */
    --height-slideshow: 55rem;
    --top-txt-slideshow: 17.6rem;
    --left-txt-slideshow: 2.1rem;
    --fs-txt-slideshow: 4rem;
    --lh-txt-slideshow: 4.5rem;
    /* == Font Family === */
    --bs-font-jost: Jost;
}

/* === Background Color ================ */
.bg-black {
    background-color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

.bg-white-smoke {
    background-color: var(--white-smoke);
}

.bg-gray-light {
    background-color: var(--gray-light);
}

.bg-gray-lighter {
    background-color: var(--gray-lighter);
}

.bg-gray-medium {
    background-color: var(--gray-medium);
}

.bg-gray-dark {
    background-color: var(--gray-dark);
}

.bg-orange-red {
    background-color: var(--orange-red);
}

.bg-coral-red {
    background-color: var(--coral-red);
}

.bg-strong-red {
    background-color: var(--strong-red);
}

.bg-dark-red {
    background-color: var(--dark-red);
}

.bg-green {
    background-color: var(--green);
}

.bg-blue {
    background-color: var(--blue);
}

/* === Color ================ */
.cl-black {
    color: var(--black);
}

.cl-white {
    color: var(--white);
}

.cl-white-smoke {
    color: var(--white-smoke);
}

.cl-gray-light {
    color: var(--gray-light);
}

.cl-gray-lighter {
    color: var(--gray-lighter);
}

.cl-gray-medium {
    color: var(--gray-medium);
}

.cl-gray-dark {
    color: var(--gray-dark);
}

.cl-orange-red {
    color: var(--orange-red);
}

.cl-coral-red {
    color: var(--coral-red);
}

.cl-strong-red {
    color: var(--strong-red);
}

.cl-dark-red {
    color: var(--dark-red);
}

.cl-green {
    color: var(--green);
}

.cl-blue {
    color: var(--blue);
}

/* === Hover ================ */
.cl-hover-white:hover {
    color: var(--white);
}

.bg-hover-black:hover {
    background-color: var(--black);
}

/*=== Box-Border =============== */
.box-border {
    box-sizing: border-box;
}

/*=== Cursor =============== */
.cursor-pointer {
    cursor: pointer;
}

/*=== Relative =============== */
.relative {
    position: relative;
}

/*=== Absolute =============== */
.absolute {
    position: absolute;
}

/* === Fixed =============== */
.fixed {
    position: fixed;
}

/* === Sticky =============== */
.sticky {
    position: sticky;
}

/*=== Overlay =============== */
.overlay {
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

/* === Overflow ================= */
.overflow-h {
    overflow: hidden;
}

.overflow-v {
    overflow: visible;
}

/* === Opacity ================= */
/* === Shadow ================= */
/* === Block ================= */
/* === Z-Index ================= */
/* === Width ================= */
.w-60 {
    width: 6rem;
}

/* === Height ================= */
.h-60 {
    height: 6rem;
}

/* === Img ================= */
.img {
    display: block;
    width: 100%;
    height: 100%;
}

/* === Button ================= */
/* === Text ================= */
.txt-center {
    text-align: center;
}

.txt-underline {
    text-decoration: underline;
}

.txt-nowrap {
    white-space: nowrap
}

.txt-no-select {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
}

.ls-0 {
    letter-spacing: 0%;
}

.va-middle {
    vertical-align: middle;
}

/* === Font Size ================= */
.fs-txt-slideshow {
    font-size: var(--fs-txt-slideshow);
}

.fs-12 {
    font-size: 1.2rem;
}

.fs-14 {
    font-size: 1.4rem;
}

.fs-16 {
    font-size: 1.6rem;
}

/* === Font Weight ================= */
.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

/* === Line Height ================= */
.lh-txt-slideshow {
    line-height: var(--lh-txt-slideshow);
}

.lh {
    line-height: 100%;
}

/* === Border ================= */
.bor-bot {
    border-bottom: solid transparent;
}

/* === Border Width ================= */
.bor-1 {
    border-width: 0.1rem;
}

/* === Border Color ================= */
.bor-black {
    border-color: var(--black);
}

.bor-white {
    border-color: var(--white);
}

.bor-white-smoke {
    border-color: var(--white-smoke);
}

.bor-gray-light {
    border-color: var(--gray-light);
}

.bor-gray-lighter {
    border-color: var(--gray-lighter);
}

.bor-gray-medium {
    border-color: var(--gray-medium);
}

.bor-gray-dark {
    border-color: var(--gray-dark);
}

.bor-orange-red {
    border-color: var(--orange-red);
}

.bor-coral-red {
    border-color: var(--coral-red);
}

.bor-strong-red {
    border-color: var(--strong-red);
}

.bor-dark-red {
    border-color: var(--dark-red);
}

.bor-green {
    border-color: var(--green);
}

.bor-blue {
    border-color: var(--blue);
}

/* === Rounded ================= */
.round-50p {
    border-radius: 50%;
}

.round-35 {
    border-radius: 3.5rem;
}

/* === Display Grid ================= */
.d-grid {
    display: grid;
}

/* === Display None ================= */
.d-none {
    display: none;
}

/* === Display Block ================= */
.d-block {
    display: block;
}

/* === Display Flex ================= */
.d-flex {
    display: flex;
}

/* === Flex ================= */
.f-1 {
    flex: 1;
}

.fg-1 {
    flex-grow: 1;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-nowrap {
    flex-wrap: nowrap;
}

/* === Gap ================= */
.g-5 {
    gap: 0.5rem;
}

.g-20 {
    gap: 2rem;
}

.g-25 {
    gap: 2.5rem;
}

.g-26 {
    gap: 2.6rem;
}

/* === Justify Content ================= */
.jc-end {
    justify-content: end;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

/* === Align Items ================= */
.ai-center {
    align-items: center;
}

/* ==================== */
.slide {
    flex: 0 0 100%;
    width: auto;
    height: var(--height-slideshow);
}

.img-slide {
    object-fit: cover;
    object-position: 50% center;
}

/* === Top ================= */
.top-txt-slideshow {
    top: var(--top-txt-slideshow);
}

.top-center {
    top: 50%;
    transform: translateY(-50%);
}

.top-0 {
    top: 0;
}

/* === Left ================= */
.left-txt-slideshow {
    left: var(--left-txt-slideshow);
}

.left-center {
    left: 50%;
    transform: translateX(-50%);
}

.left-30 {
    left: 3rem;
}

/* === Bottom ================= */
.bot-10 {
    bottom: 1rem;
}

/* === Right ================= */
.right-0 {
    right: 0;
}

.right-30 {
    right: 3rem;
}

/* === Padding ================= */
/* === Padding X ================= */
.px-30 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.px-47 {
    padding-left: 4.7rem;
    padding-right: 4.7rem;
}

/* === Padding Y ================= */
.py-19 {
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
}

/* === Padding Top ================= */
.pt-14 {
    padding-top: 1.4rem;
}

.pt-28 {
    padding-top: 2.8rem;
}

/* === Padding Left ================= */
.pl-20 {
    padding-left: 2rem;
}

/* === Padding Bottom ================= */
.pb-11 {
    padding-bottom: 1.1rem;
}

.pb-12 {
    padding-bottom: 1.2rem;
}

.pb-25 {
    padding-bottom: 2.5rem;
}

/* === Padding Right ================= */
.pr-31 {
    padding-right: 3.1rem;
}
/* === Margin ================= */
/* === Margin X ================= */
/* === Margin Y ================= */
/* === Margin Top ================= */
.mt-2 {
    margin-top: 0.2rem;
}

.mt-14 {
    margin-top: 1.4rem;
}

.mt-33 {
    margin-top: 3.3rem;
}

/* === Margin Left ================= */
.ml-4 {
    margin-left: 0.4rem;
}


.ml-5 {
    margin-left: 0.5rem;
}

.ml-6 {
    margin-left: 0.6rem;
}

.ml-10 {
    margin-left: 1rem;
}

.ml-11 {
    margin-left: 1.1rem;
}

/* === Margin Bottom ================= */
.mb-20vh {
    margin-bottom: 20vh;
}

/* === Margin Right ================= */
.mr-30 {
    margin-right: 3rem;
}

.mr-31 {
    margin-right: 3.1rem;
}
