html {
    font-family: Jost;
    /* width: 1920px; */
    /* background-color: rgb(0, 255, 0); */
}

/* === Pseudo ================ */
:root {
    /* == Color === */
    --black: #111111;
    --white: #ffffff;
    --white-smoke: #f5f5f5;
    --gray-light: #dddddd;
    --gray-lighter: #ebebeb;
    --gray-medium: #999999;
    --gray-dark: #555555;
    --orange-red: #d0473e;
    --coral-red: #e74c3c;
    --strong-red: #c0392b;
    --dark-red: #c0392b;
    --green: #26A66A;
    --blue: #516CF4;
    /* == Font Family === */
    --bs-font-jost: Jost;
    /* == Font Size === */
    --fs-title: 3.6rem;
    /* == Navbar === */
    --pt-navbar: 2.8rem;
    --pl-navbar: 2rem;
    --pb-navbar: 2.5rem;
    --pr-navbar: 3.1rem;
    /* == Slideshow === */
    --height-slideshow: 55rem;
    --top-txt-slideshow: 17.6rem;
    --left-txt-slideshow: 5vw;
    --fs-txt-slideshow: 4rem;
    --lh-txt-slideshow: 4.5rem;
    /* == Feed Back === */
    --pt-item-feed-back: 2.8rem;
    --pb-item-feed-back: 3.2rem;
    --px-item-feed-back: 3rem;
    /* == Flex === */
    --flex-slide: 0 0 calc(calc(100% - 2rem) / 2);
    --flex-feed-back: 0 0 100%;
    --flex-ig: 0 0 calc(calc(100% - 0.5rem) / 2);
}

/* === Background Color ================ */
.bg-diagonal-stripes-red {
    background: repeating-linear-gradient(
        -45deg,
        var(--orange-red),
        var(--coral-red) 1rem,
        var(--dark-red) 1rem,
        var(--dark-red) 2rem
    );
}

.bg-black {
    background-color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

.bg-white-smoke {
    background-color: var(--white-smoke);
}

.bg-gray-light {
    background-color: var(--gray-light);
}

.bg-gray-lighter {
    background-color: var(--gray-lighter);
}

.bg-gray-medium {
    background-color: var(--gray-medium);
}

.bg-gray-dark {
    background-color: var(--gray-dark);
}

.bg-orange-red {
    background-color: var(--orange-red);
}

.bg-coral-red {
    background-color: var(--coral-red);
}

.bg-strong-red {
    background-color: var(--strong-red);
}

.bg-dark-red {
    background-color: var(--dark-red);
}

.bg-green {
    background-color: var(--green);
}

.bg-blue {
    background-color: var(--blue);
}

/* === Color ================ */
.cl-black {
    color: var(--black);
}

.cl-white {
    color: var(--white);
}

.cl-white-smoke {
    color: var(--white-smoke);
}

.cl-gray-light {
    color: var(--gray-light);
}

.cl-gray-lighter {
    color: var(--gray-lighter);
}

.cl-gray-medium {
    color: var(--gray-medium);
}

.cl-gray-dark {
    color: var(--gray-dark);
}

.cl-orange-red {
    color: var(--orange-red);
}

.cl-coral-red {
    color: var(--coral-red);
}

.cl-strong-red {
    color: var(--strong-red);
}

.cl-dark-red {
    color: var(--dark-red);
}

.cl-green {
    color: var(--green);
}

.cl-blue {
    color: var(--blue);
}

/* === Hover ================ */
.cl-hover-white:hover {
    color: var(--white);
}

.cl-hover-black:hover {
    color: var(--black);
}

.cl-hover-gray-dark:hover {
    color: var(--gray-dark);
}

.cl-hover-orange-red:hover {
    color: var(--orange-red);
}

.bg-hover-black:hover {
    background-color: var(--black);
}

.bg-hover-white:hover {
    background-color: var(--white);
}

.bor-hover-black:hover {
    border-color: var(--black);
}

.txt-hover-underline:hover {
    text-decoration: underline;
}

.opacity-hover-1:hover {
    opacity: 1;
}

.opacity-hover-8:hover {
    opacity: 0.8;
}

/* === Focus ================= */
.bor-focus-black:focus-within {
    border-color: var(--black);
}

/*=== Box-Border =============== */
.box-border {
    box-sizing: border-box;
}

/*=== Cursor =============== */
.cursor-pointer {
    cursor: pointer;
}

/*=== Relative =============== */
.relative {
    position: relative;
}

/*=== Absolute =============== */
.absolute {
    position: absolute;
}

/* === Fixed =============== */
.fixed {
    position: fixed;
}

/* === Sticky =============== */
.sticky {
    position: sticky;
}

/*=== Overlay =============== */
.overlay {
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

/* === Overflow ================= */
.overflow-h {
    overflow: hidden;
}

.overflow-v {
    overflow: visible;
}

.overflow-y {
    overflow-y: auto;
    scrollbar-width: none;
}

/* === Opacity ================= */
.opacity-0 {
    opacity: 0;
}

.opacity-6 {
    opacity: 0.6;
}

/* === Shadow ================= */
.shadow {
    box-shadow: 0 0.1rem 1.6rem rgba(0, 0, 0, 0.3);
}

.shadow-1 {
    box-shadow: 0 1rem 1.6rem rgba(0, 0, 0, 0.1);
}

/* === Animation ================= */
.anim-reveal {
    opacity: 0;
    transform: translateY(2rem);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.anim-reveal.show {
    opacity: 1;
    transform: translateY(0);
}

.anim-txt-sshow {
    opacity: 0;
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.anim-txt-sshow.from-top {
    transform: translateY(5rem);
}

.anim-txt-sshow.from-right {
    transform: translateX(5rem);
}

.anim-txt-sshow.from-left {
    transform: translateX(-5rem);
}

.anim-txt-sshow.show {
    opacity: 1;
    transform: translate(0, 0);
}

/* === Z-Index ================= */
.z-n1 {
    z-index: -1;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

/* z-4 ở overlay-mobile.show */

.z-5 {
    z-index: 5;
}

.z-6 {
    z-index: 6;
}

.z-7 {
    z-index: 7;
}

/* === Width ================= */
.w-fit-content {
    width: fit-content;
}

.w-max-full {
    max-width: 100%;
}

.w-full {
    width: 100%;
}

.w-100vw {
    width: 100vw;
}

.w-18 {
    width: 1.8rem;
}

.w-19 {
    width: 1.9rem;
}

.w-22 {
    width: 2.2rem;
}

.w-24 {
    width: 2.4rem;
}

.w-28 {
    width: 2.8rem;
}

.w-35 {
    width: 3.5rem;
}

.w-38 {
    width: 3.8rem;
}

.w-40 {
    width: 4rem;
}

.w-50 {
    width: 5rem;
}

.w-60 {
    width: 6rem;
}

.w-70 {
    width: 7rem;
}

.w-77 {
    width: 7.7rem;
}

.w-88 {
    width: 8.8rem;
}

.w-120 {
    width: 12rem;
}

.w-270 {
    width: 27rem;
}

.w-430 {
    width: 43rem;
}

.w-450 {
    width: 45rem;
}

.w-1450 {
    width: 145rem;
}

/* === Height ================= */
.h-full {
    height: 100%;
}

.h-max-800 {
    max-height: 80rem;
}

.h-100vh {
    height: 100vh;
}

.h-5 {
    height: 0.5rem;
}

.h-18 {
    height: 1.8rem;
}

.h-19 {
    height: 1.9rem;
}

.h-22 {
    height: 2.2rem;
}

.h-24 {
    height: 2.4rem;
}

.h-28 {
    height: 2.8rem;
}

.h-34 {
    height: 3.4rem;
}

.h-35 {
    height: 3.5rem;
}

.h-40 {
    height: 4rem;
}

.h-50 {
    height: 5rem;
}

.h-60 {
    height: 6rem;
}

.h-70 {
    height: 7rem;
}

.h-330 {
    height: 33rem;
}

/* === Img ================= */
.img {
    display: block;
    width: 100%;
    height: 100%;
}

.img-zoom {
    transition: transform, 0.6s ease-in-out;
}

.wrapper-item:hover .img-zoom {
    transform: scale(1.1);
}

.img-hover {
    opacity: 0;
    transition: opacity, 0.6s ease-in-out;
}

.wrapper-item:hover .img-hover {
    opacity: 1;
}

.img-hidden {
    transition: opacity, 0.6s ease-in-out;
}

.wrapper-item:hover .img-hidden {
    opacity: 0;
}

.img-cover {
    object-fit: cover;
}

/* === Button ================= */
.btn-lang-mobile:hover {
    text-decoration: underline;
}

.btn-lang-mobile:hover > span {
    border-color: var(--black);
}

.btn-lang-mobile.active {
    text-decoration: underline;
}

.btn-lang-mobile.active > span {
    border-color: var(--black);
}

.btn-curr-mobile:hover {
    text-decoration: underline;
}

.btn-curr-mobile:hover > span {
    border-color: var(--black);
}

.btn-curr-mobile.active {
    text-decoration: underline;
}

.btn-curr-mobile.active > span {
    border-color: var(--black);
}

.btn-txt-trending {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-txt-trending.active {
    background-color: var(--white-smoke);
}

.btn-cart {
    transition: opacity,translate, 0.6s ease-in-out;
}

.wrapper-item:hover .btn-cart {
    opacity: 1;
    transform: translate(-50%, -1.5rem); /* thêm translateX(-50%) để bù cho left-center */
}

.btn-banner {
    position: relative;
    display: inline-block;
    width: fit-content;
    height: 2rem;
    overflow: hidden;
}

.btn-banner::before {
    content: "";
    position: absolute;
    height: 0.2rem;
    width: 100%;
    background-color: var(--black);
    top: 80%;
    left: 0;
}

.wrapper-item:hover .btn-banner::before {
    animation: btn-banner-hover 0.8s infinite;
}

@keyframes btn-banner-hover {
    from {left: -100%;}
    to {left: 100%;}
}

.btn-tranx {
    transition: transform 0.3s ease-in-out;
}

.wrapper-btn:hover .btn-tranx {
    transform: translateX(10%);
}

/* === Text ================= */
.txt-center {
    text-align: center;
}

.txt-underline {
    text-decoration: underline;
}

.txt-nowrap {
    white-space: nowrap
}

.txt-no-select {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
}

.ls-0 {
    letter-spacing: 0%;
}

.ls-1 {
    letter-spacing: 0.1rem;
}

.va-middle {
    vertical-align: middle;
}

/* === Font Size ================= */
.fs-txt-slideshow {
    font-size: var(--fs-txt-slideshow);
}

.fs-title {
    font-size: var(--fs-title);
}

.fs-0 {
    font-size: 0;
}

.fs-9 {
    font-size: 0.9rem;
}

.fs-12 {
    font-size: 1.2rem;
}

.fs-14 {
    font-size: 1.4rem;
}

.fs-16 {
    font-size: 1.6rem;
}

.fs-18 {
    font-size: 1.8rem;
}

.fs-24 {
    font-size: 2.4rem;
}

.fs-30 {
    font-size: 3rem;
}

/* === Font Weight ================= */
.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

/* === Line Height ================= */
.lh-txt-slideshow {
    line-height: var(--lh-txt-slideshow);
}

.lh {
    line-height: 100%;
}

.lh-0 {
    line-height: 0;
}

.lh-23 {
    line-height: 2.3rem;
}

.lh-24 {
    line-height: 2.4rem;
}

.lh-25 {
    line-height: 2.5rem;
}


/* === Border ================= */
.bor {
    border: solid transparent;
}

.bor-top {
    border-top: solid transparent;
}

.bor-bot {
    border-bottom: solid transparent;
}

/* === Border Width ================= */
.bor-1 {
    border-width: 0.1rem;
}

/* === Border Color ================= */
.bor-black {
    border-color: var(--black);
}

.bor-white {
    border-color: var(--white);
}

.bor-white-smoke {
    border-color: var(--white-smoke);
}

.bor-gray-light {
    border-color: var(--gray-light);
}

.bor-gray-lighter {
    border-color: var(--gray-lighter);
}

.bor-gray-medium {
    border-color: var(--gray-medium);
}

.bor-gray-dark {
    border-color: var(--gray-dark);
}

.bor-orange-red {
    border-color: var(--orange-red);
}

.bor-coral-red {
    border-color: var(--coral-red);
}

.bor-strong-red {
    border-color: var(--strong-red);
}

.bor-dark-red {
    border-color: var(--dark-red);
}

.bor-green {
    border-color: var(--green);
}

.bor-blue {
    border-color: var(--blue);
}

/* === Rounded ================= */
.round-50p {
    border-radius: 50%;
}

.round-5 {
    border-radius: 0.5rem;
}

.round-10 {
    border-radius: 1rem;
}

.round-35 {
    border-radius: 3.5rem;
}

/* === Display Grid ================= */
.d-grid {
    display: grid;
}

.grid-2-3 {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
}

.grid-item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
}

.grid-item:nth-child(2) {
    grid-column: 1/2;
    grid-row: 3/4;
}

.grid-item:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/2;
}

.grid-item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/4;
}

/* === Display None ================= */
.d-none {
    display: none;
}

/* === Display Block ================= */
.d-block {
    display: block;
}

/* === Display Inline Block ================= */
.d-inline-block {
    display: inline-block;
}

/* === Display Flex ================= */
.d-flex {
    display: flex;
}

/* === Column ================= */
.column {
    flex-direction: column;
}

/* === Row ================= */
.row {
    flex-direction: row;
}

/* === Flex ================= */
.f-slide {
    flex: var(--flex-slide);
}

.f-fback {
    flex: var(--flex-feed-back);
}

.f-ig {
    flex: var(--flex-ig);
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-nowrap {
    flex-wrap: nowrap;
}

.f-1 {
    flex: 1;
}

.f-5p {
    flex: 0 0 5%;
}

.f-20p {
    flex: 0 0 20%;
}

.f-38p {
    flex: 0 0 38.5%;
}

.f-58p {
    flex: 0 0 58%;
}

.f-75p {
    flex: 0 0 75%;
}

.f-77p {
    flex: 0 0 76.7%;
}

.f-100p {
    flex: 0 0 100%;
}

/* === Gap ================= */
.g-1 {
    gap: 0.1rem;
}

.g-2 {
    gap: 0.2rem;
}

.g-4 {
    gap: 0.4rem;
}

.g-5 {
    gap: 0.5rem;
}

.g-6 {
    gap: 0.6rem;
}

.g-9 {
    gap: 0.9rem;
}

.g-10 {
    gap: 1rem;
}

.g-15 {
    gap: 1.5rem;
}

.g-20 {
    gap: 2rem;
}

.g-21 {
    gap: 2.1rem;
}

.g-25 {
    gap: 2.5rem;
}

.g-26 {
    gap: 2.6rem;
}

.g-30 {
    gap: 3rem;
}

/* === Justify Content ================= */
.jc-end {
    justify-content: end;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

/* === Align Items ================= */
.ai-center {
    align-items: center;
}

/* === Menu Mobile ================= */
.wrapper-menu-mobile {
    transform: translateX(-101%);
    transition: transform 0.5s ease-in-out;
}

.wrapper-menu-mobile.open {
    transform: translateX(0);
}

.overlay-mobile {
    transition: opacity 0.5s ease-in-out;
}

.overlay-mobile.show {
    opacity: 1;
    visibility: visible;
    z-index: 4;
}

.sub-nav-mobile {
    transition: transform 0.4s ease-in-out;
    transform: translateX(-101%);
}

.sub-nav-mobile.open {
    transform: translateX(0);
}

/* === Nav PC ================= */
.wrapper-sub-pc {
    transition: transform, opacity, 0.4s ease-in-out;
}

.wrapper-sub-pc::after {
    position: absolute;
    top: -2.3rem;
    left: 0;
    content: "";
    height: 2.3rem;
    width: 100%;
}

.wrapper-btn:hover .wrapper-sub-pc {
    opacity: 1;
    z-index: 3;
    transform: translateY(-20%);
}

/* === Mini Cart ================= */
.mini-cart {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateX(100%);
    opacity: 0;
}

.mini-cart.open {
    transform: translateX(0);
    opacity: 1;
}

.overlay-cart {
    transition: opacity 0.5s ease-in-out;
}

.overlay-cart.show {
    opacity: 1;
    visibility: visible;
    z-index: 4;
}

/* === Slideshow ================= */
.wrapper-slideshow {
    width: 100%;
    height: var(--height-slideshow);
}

.slideshow {
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    transition: opacity 0.6s ease, left 0s ease 0.6s;
}

.slide.active {
    left: 0;
    opacity: 1;
    transition: opacity 0.6s ease, left 0s;
    z-index: 1;
}
  
.slide.to-left {
    left: -100%;
}
  
.slide.to-right {
    left: 100%;
}

.img-slide {
    object-fit: cover;
    object-position: 50% center;
}

.slideshow-prev,
.slideshow-next {
    transition: opacity,transform, 0.2s ease-in-out;
}

.wrapper-slideshow:hover .slideshow-prev {
    opacity: 1;
    transform: translate(3rem, -50%);
}

.wrapper-slideshow:hover .slideshow-next {
    opacity: 1;
    transform: translate(-3rem, -50%);
}

.dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    background-color: var(--black);
    opacity: 0.2;
    border-radius: 50%;
    display: inline-block;
}

.dot:hover {
    background-color: var(--black);
    opacity: 1;
}

.dot.active {
    background-color: var(--black);
    opacity: 1;
}

/* === Tooltip ================= */
.tooltip-txt {
    opacity: 0;
    visibility: collapse;
    transition: opacity,transform, 0.3s ease-in-out;
    white-space: nowrap;
    background-color: var(--black);
    color: var(--white);
    border-radius: 0.5rem;
    padding: 1rem;
    z-index: 1;
}

.tooltip-txt::after {
    content: "";
    border: solid 0.5rem;
}

/* Top */
#tooltiptext-color {
    position: fixed;
}

.tooltip-txt-after-top::after {
    border-color: var(--black) transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

/* Left */
.tooltip-left:hover .tooltip-txt {
    opacity: 1;
    visibility: visible;
    transform: translate(-1rem, -50%);
}

.tooltip-txt-after-left::after {
    border-color: transparent transparent transparent var(--black);
    position: absolute;
    left: 100%;
}

/* Bottom */
.tooltip-bot:hover .tooltip-txt {
    opacity: 1;
    visibility: visible;
    transform: translateY(0.7rem);
}

.tooltip-txt-after-bot::after {
    border-color: transparent transparent var(--black) transparent;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

/* === Footer ================= */
.footer-list {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

/* === Go Top ================= */
.go-top {
    transform: scale(0);
    transition: transform 0.3s ease-out;
}

.go-top.show {
    transform: scale(1);
}

/* === Top ================= */
.top-txt-slideshow {
    top: var(--top-txt-slideshow);
}

.top-center {
    top: 50%;
    transform: translateY(-50%);
}

.top-100p {
    top: 100%;
}

.top-888p {
    top: 888%;
}

.top-1250p {
    top: 1250%;
}

.top-n270p {
    top: -270%;
}

.top-n8 {
    top: -0.8rem;
}

.top-0 {
    top: 0;
}

.top-10 {
    top: 1rem;
}

.top-11 {
    top: 1.1rem;
}

/* === Left ================= */
.left-txt-slideshow {
    left: var(--left-txt-slideshow);
}

.left-center {
    left: 50%;
    transform: translateX(-50%);
}

.left-n48p {
    left: -48%;
}

.left-n250p {
    left: -250%;
}

.left-0 {
    left: 0;
}

.left-30 {
    left: 3rem;
}

/* === Bottom ================= */
.bot-0 {
    bottom: 0;
}

.bot-20 {
    bottom: 2rem;
}

.bot-25 {
    bottom: 2.5rem;
}

.bot-88 {
    bottom: 8.8rem;
}

.bot-160 {
    bottom: 16rem;
}

/* === Right ================= */
.right-n8 {
    right: -0.8rem;
}

.right-0 {
    right: 0;
}

.right-10 {
    right: 1rem;
}

.right-20 {
    right: 2rem;
}

.right-30 {
    right: 3rem;
}

.right-100p {
    right: 100%;
}

/* === Padding ================= */
/* === Padding X ================= */
.px-item-feed-back {
    padding-left: var(--px-item-feed-back);
    padding-right: var(--px-item-feed-back);
}

.px-5 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-9 {
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}

.px-10 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-20 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-22 {
    padding-left: 2.2rem;
    padding-right: 2.2rem;
}

.px-30 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.px-40 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.px-47 {
    padding-left: 4.7rem;
    padding-right: 4.7rem;
}

.px-80 {
    padding-left: 8rem;
    padding-right: 8rem;
}

.px-120 {
    padding-left: 12rem;
    padding-right: 12rem;
}

/* === Padding Y ================= */
.py-6 {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.py-10 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-11 {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}

.py-15 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-17 {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}

.py-19 {
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
}

.py-20 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-30 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* === Padding Top ================= */
.pt-item-feed-back {
    padding-top: var(--pt-item-feed-back);
}

.pt-navbar {
    padding-top: var(--pt-navbar);
}

.pt-12 {
    padding-top: 1.2rem;
}

.pt-14 {
    padding-top: 1.4rem;
}

.pt-15 {
    padding-top: 1.5rem;
}

.pt-16 {
    padding-top: 1.6rem;
}

.pt-19 {
    padding-top: 1.9rem;
}

.pt-20 {
    padding-top: 2rem;
}

.pt-24 {
    padding-top: 2.4rem;
}

.pt-25 {
    padding-top: 2.5rem;
}

.pt-35 {
    padding-top: 3.5rem;
}

.pt-44 {
    padding-top: 4.4rem;
}

/* === Padding Left ================= */
.pl-navbar {
    padding-left: var(--pl-navbar);
}

.pl-10 {
    padding-left: 1rem;
}

.pl-30 {
    padding-left: 3rem;
}

/* === Padding Bottom ================= */
.pb-item-feed-back {
    padding-bottom: var(--pb-item-feed-back);
}

.pb-navbar {
    padding-bottom: var(--pb-navbar);
}

.pb-5 {
    padding-bottom: 0.5rem;
}

.pb-11 {
    padding-bottom: 1.1rem;
}

.pb-12 {
    padding-bottom: 1.2rem;
}

.pb-18 {
    padding-bottom: 1.8rem;
}

.pb-20 {
    padding-bottom: 2rem;
}

.pb-21 {
    padding-bottom: 2.1rem;
}

.pb-30 {
    padding-bottom: 3rem;
}

/* === Padding Right ================= */
.pr-navbar {
    padding-right: var(--pr-navbar);
}

.pr-10 {
    padding-right: 1rem;
}

.pr-55 {
    padding-right: 5.5rem;
}

/* === Margin ================= */
/* === Margin X ================= */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mx-19 {
    margin-left: 1.9rem;
    margin-right: 1.9rem;
}

/* === Margin Y ================= */
/* === Margin Top ================= */
.mt-1 {
    margin-top: 0.1rem;
}

.mt-5 {
    margin-top: 0.5rem;
}

.mt-7 {
    margin-top: 0.7rem;
}

.mt-9 {
    margin-top: 0.9rem;
}

.mt-10 {
    margin-top: 1rem;
}

.mt-11 {
    margin-top: 1.1rem;
}

.mt-12 {
    margin-top: 1.2rem;
}

.mt-14 {
    margin-top: 1.4rem;
}

.mt-16 {
    margin-top: 1.6rem;
}


.mt-17 {
    margin-top: 1.7rem;
}

.mt-18 {
    margin-top: 1.8rem;
}

.mt-19 {
    margin-top: 1.9rem;
}

.mt-20 {
    margin-top: 2rem;
}

.mt-24 {
    margin-top: 2.4rem;
}

.mt-28 {
    margin-top: 2.8rem;
}

.mt-33 {
    margin-top: 3.3rem;
}

.mt-34 {
    margin-top: 3.4rem;
}


.mt-54 {
    margin-top: 5.4rem;
}

.mt-58 {
    margin-top: 5.8rem;
}

.mt-60 {
    margin-top: 6rem;
}

/* === Margin Left ================= */
.ml-3 {
    margin-left: 0.3rem;
}

.ml-4 {
    margin-left: 0.4rem;
}

.ml-5 {
    margin-left: 0.5rem;
}

.ml-6 {
    margin-left: 0.6rem;
}

.ml-9 {
    margin-left: 0.9rem;
}

.ml-10 {
    margin-left: 1rem;
}

.ml-11 {
    margin-left: 1.1rem;
}

.ml-30 {
    margin-left: 3rem;
}

.ml-81 {
    margin-left: 8.1rem;
}

/* === Margin Bottom ================= */
.mb-30 {
    margin-bottom: 3rem;
}

/* === Margin Right ================= */
.mr-4 {
    margin-right: 0.4rem;
}

.mr-13 {
    margin-right: 1.3rem;
}

.mr-20 {
    margin-right: 2rem;
}